<nav>
    <div>
        <h1> Bookworms </h1>
        <ul>
        <li><a href="/" > HomePage </a></li>
        <li><a href="/login" > Login </a></li>
        <li><a href="/about" > About </a></li>
        </ul>
    </div>
</nav> 