<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookworms | <%= title %></title>
</head>
<body>
    <div class="form-outline form-white mb-4">
        <input type="email" id="typeEmailX" class="form-control form-control-lg" required />
        <label class="form-label" for="typeEmailX">Email</label>
      </div>

      <div class="form-outline form-white mb-4">
        <input type="password" id="typePasswordX" class="form-control form-control-lg" required/>
        <label class="form-label" for="typePasswordX">Password</label>
      </div>
      <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
</body>
</html>