<footer>
    <div class="my-container container align-bottom">
        <hr>
        <div class="text-center">Created by Tanjeem and Ratul</div>
        <div class="text-center">Heavily Inspired by <a href="https://www.goodreads.com/">Goodreads</a></div>
        <br>
        <br>
    </div>
</footer>
