<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-radius : 0.5rem; width: 85% !important;">
    <a class="navbar-brand" href="/home">BookWorms</a>
    <button class="navbar-toggler active" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/home" style="padding-left: 50px;">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/profile" style="padding-left: 30px;">Profile</a>
        <a class="nav-item nav-link" href="/dashboard" style="padding-left: 30px;">Dashboard</a>
        <a class="nav-item nav-link" href="/books" style="padding-left: 30px;">Books</a>
        <a class="nav-item nav-link" href="/authors" style="padding-left: 30px;">Authors</a>
        <a class="nav-item nav-link" href="/readers" style="padding-left: 30px;">Readers</a>
        <a class="nav-item nav-link" href="/about" style="padding-left: 30px;">About</a>
        <a class="nav-item nav-link" href="/logout" style="padding-left: 30px;">Log Out</a>
      </div>
    </div>
  </nav>