
<div class="wallpost-create">
    <form action="/createWallPost" method="POST" class="wallPostBody">
        <input type="text" name="wallPost_body" placeholder="What's on your mind?" required>
        <button type="submit" class="btn btn-outline-secondary">Create Post</button>
    </form>
</div>