
<div class="wallPost-goes-gere">
    <h4> Create A New Post:</h4>
    <form action="/createWallPost" method="POST" class="wallPostBody">
        <input type="text" name="wallPost_body" placeholder="What's on your mind?" required>
        <button class="btn btn-outline-dark btn-lg px-3" type="submit">Create Post</button>
    </form>
</div>