<div class="my-container container mx-auto my-1 px-0 row">
    <div class="container">
        <div class="row">
            <p> An online readers' community where users can customize their "BookShelf" with books they like, follow like-minded readers and keep up with their favorite authors. Smart suggestions for new books, authors and readers make BookWorms feel more personalized. Users can also share their own wallposts and reviews, and interact with others' posts to boost the community.</p>
        </div>
    </div>
    
    
    <div class="container">
        <hr style="border:1px solid #f1f1f1d0">
    </div>

    <div class="container">
        <h5><i>Developed by</i></h5>
    </div>

    <div class="container">    
    <ul>
        <li class = "authorSuggestion">
            <b><i>Tanjeem Azwad Zaman</i></b> <i><a href="https://github.com/Tanjeem29">(github)</a></i> <br>
            <i>ID:1805006, Dept. of CSE </i><br>
            <i>Bangladesh University of Engineering and Technology</i><br>
        </li>
        <li class = "authorSuggestion">
            <b><i>MD Rownok Zahan Ratul</i></b> <i><a href="https://github.com/RownokRatul">(github)</a></i> <br>
            <i>ID:1805019, Dept. of CSE</i><br>
            <i>Bangladesh University of Engineering and Technology</i><br>
        </li>
    </ul>
</div>


<div class="container">
    <hr style="border:1px solid #f1f1f1d0">
</div>

<div class="container">
    <h5><i>Supervised by</i></h5>
</div>

<div class="container">    
<ul>
    <li class = "authorSuggestion">
        <b><i>Tahmid Hasan</i></b> <i><a href="https://tahmid04.github.io/">(HomePage)</a></i><br>
        <i>Lecturer, Dept. of CSE </i><br>
        <i>Bangladesh University of Engineering and Technology</i><br>
    </li>
</ul>
</div>

<div class="container">
    <hr style="border:1px solid #f1f1f1d0">
</div>


<div class="container">
    <h6><i>A Term Project of CSE-216 (Database Sessional Course)</i></h6>
</div>

</div>
</div>