<div class="input-group">

    <form action="/books/search" method="POST" class="form-inline my-2 my-lg-0">
        <div class="input-group mb-3" style="margin: 16px 0">
            <div class="input-group-prepend" >
              <label class="input-group-text" for="f1">Search By: </label>
            </div>
            <select class="custom-select" id="fl" name="fl">
              <option value="1">Book Title</option>
              <option value="2">Publisher Name</option>
              <option value="3">Author Name</option>
            </select>
          </div>
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search for Books" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
<div class="imae"></div>
<div class="container">
    <%- include('GenreTest.ejs') %>  

</div>  