<div class="input-group">

    <form action="/books/search" method="POST">
        <label for="fl">Search Books By:</label>
        <select name="fl" id="fl">
            <option value="1">Book Title</option>
            <option value="2">Publisher Name</option>
            <option value="3">Author Name</option>
        </select>
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search for Books"
          class="search"
        />
        <button class="search-btn" type="submit">Submit</button>
    </form>
<div class="imae"></div>
  