<div>
    <h2> Books </h2>
    <% if(books.length > 0) {  %>
        <%  for (var i = 0; i< books.length; i++) {  %>
            <h2><%=  books[i].title  %></h2>
            <p><%=  books[i].body  %> <p>
        <%  }  %>
    <% } %>
</div>