<div class="my-container container mx-auto my-1 px-0 row">
    <h2> HOME </h2>
    <p> This is the home page of an user. They can change their info and write wallposts here</p>
    <form action="/home/edit" method="get">
        <input type="submit" value="Edit Profile" 
             name="Submit" id="frm1_submit" />
    </form>
</div>