<h2>Name: <%=publisher.NAME%></h2>


<ul>
    <% if(books.length > 0) { %>
        <p>We have <%=books.length%> Books by This Publisher</p>
        <%  for (var i = 0; i< books.length; i++) {  %>
            <% console.log('this is ' + i + ' ' + books[0].title)  %>
            
            <li>
                <h5>
                    <a = class = "single" href = "/books/<%=books[i].BOOK_ID%>" ><%=  books[i].TITLE  %> </a>
                </h5>
            </li>
            
            
        <%  }  %>
    <% } %>
</ul>