<div class="photo-group">
    <form method="post" enctype="multipart/form-data" action="/upload">
        <input type="file" name="photo">
        <input type="submit" value="Submit">
    </form>
</div>
