<div class="input-group">
    <form action="/readers/search" method="POST">
        <input
          type="text"
          name="search"
          id="search"
          placeholder="Search Readers by Username"
          class="search"
        />
        <button class="search-btn" type="submit">Submit</button>
    <div class="imae"></div>
  </form>