<header>
    <div class="myHeader">
        <hr>
        <H5>
            <section class="text-center">Welcome to BookWorms! A site dedicated to you, the Reader!</section>
        </H5>
        <hr>
    </div>
</header>