<header>
    <div class="my-container container align-bottom">
        <hr>
        <H5>
            <div class="text-center">Welcome to BookWorms! A site dedicated to you, the Reader!</div>
            <div class="text-center"></div>
        </H5>
        
        <br>
        <br>
    </div>
</header>