<header>
    <div class="my-container container align-bottom">
        <hr>
        <H3>
            <div class="text-center">Welcome to BookWorms!</div>
            <div class="text-center">A site dedicated to you, the Reader!</div>
        </H3>
        <br>
        <br>
    </div>
</header>